###############################
# PYTHON
###############################
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

###############################
# NOTE ABOUT MODEL FILES
# --------------------------
# We MUST keep model/model.pkl
# because it is required for deployment.
###############################

###############################
# JUPYTER NOTEBOOK
###############################
.ipynb_checkpoints/
*.ipynb_checkpoints

###############################
# LOCAL BUILD / CACHE
###############################
*.DS_Store
*.egg-info/
.eggs/
.cache/
dist/
build/

###############################
# DATA FILES
###############################
# Ignore all datasets (do not upload on GitHub)
data/*
# Keep folder placeholder
!data/.gitkeep

###############################
# MODEL FILES
###############################
model/*
# Keep deployed model
!model/model.pkl
# Keep folder placeholder
!model/.gitkeep

###############################
# FRONTEND (if expanded later)
###############################
node_modules/

###############################
# LOGS & TEMP FILES
###############################
*.log
*.tmp
tmp/
logs/
*.sqlite
*.db

###############################
# OS-SPECIFIC
###############################
Thumbs.db
*.swp

###############################
# DOCKER
###############################
docker-compose.yml
*.tar
